@import "colors";

body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    color: @accent-thirdindary;
    font-family: Roboto;
}
body:before {
    content: "";
    position: absolute;
    background: url(../assets/ig/1.jpg) @background-primary;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5.2);
    transform-origin: top left;
    -webkit-transform-origin-x: .5rem;
    -webkit-transform-origin-y: .5rem;
    filter: blur(2px);
}



header {
    height: 4rem;
    font-size: 4rem;
}