@import "colors";

body {
    background: @background-primary;
    color: @accent-thirdindary;
    font-family: Roboto;
}

header {
    height: 4rem;
    background: @background-secondary;
    margin: none;
    padding: none;
}